* {
  color: white;
}

.about-wrapper {
  display: flex;
  padding: 0 7% !important;
  margin-top: 10%;
}

.about-left {
  width: 35%;
  color: white;
  position: fixed;
}

.about-right {
  width: 70%;
  text-align: start;
  margin-left: 44%;
}

.about-left h3,
.about-left h4 {
  cursor: default;
}

.about-left h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 100px;
  margin: 0px;
}

.about-left h4 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

.about-right p {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  margin-bottom: 24px;
  cursor: default;
}

.about-right h4 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  line-height: 12px;
  margin: 0;
  cursor: default;
}

.certificates-wrapper {
  height: 300px;
  margin-top: 8px;
  overflow-y: scroll;
}

.certificates-ratio img {
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .about-wrapper {
    margin-top: 30% !important;
    text-align: center;
    display: block;
    align-items: center;
    height: 50vh;
    padding: 0;
  }



  .about-left h3 {
    font-size: 40px;
  }

  .about-left h4 {
    font-size: 16px;
  }

  .about-right p {
    font-size: 16px;
  }

  .about-left {
    width: 100%;
    color: white;
    position: relative;
  }

  .about-right {
    width: 100%;
    margin-left: 0;
  }
}


