.project-wrapper {
  display: flex;
  padding: 10% 7% !important;
}

.projects-title h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 100px;
  margin: 0px;
}

.projects-title h4 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

.project-left {
  position: fixed;
  color: #fff;
}

.project-left h3,
.project-left h4 {
  cursor: default;
}

.project-left h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 80px;
  margin: 0px;
}

.project-left h4 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

.project-right {
  text-align: start;
}

.projects-wrapper {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project-card {
  background-color: var(--third-color);
  border-radius: 0.3rem;
  padding-bottom: 16px;
  margin-top: 16px;
  margin: 0 !important;
}

.project-card img {
  padding: 8px 12px 8px 12px;
  border-radius: 0.3rem;
  outline: solid 1px white;
  margin-bottom: 20px;
}

.project-card .project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
}

.project-card .project-content h3 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 24px;
  cursor: default;
}

.project-card .project-content p {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  cursor: default;
}

a.btn-website
{
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  background-color: black !important;
  color: #fff;
  padding: 6px 8px 6px 8px;
  border-radius: 0.3rem;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

a.btn-website:hover
{
  color: black;
  background-color: rgb(185, 185, 185) !important;
}

a.btn-website {
  margin-right: 6px;
  background-color: #0d6efd;
}

a.btn-github {
  background-color: #000;
}

.project-icon {
  font-size: 20px;
  padding-bottom: 3px;
}

.tech-stack-wrapper {
  margin-top: 16px;
}

span#tech-stack {
  background-color: var(--first-color);
  font-family: "Manrope", sans-serif;
  color: var(--fourth-color);
  font-size: 12px;
  font-weight: 600;
  margin-right: 6px;
  padding: 2px 4px 2px 4px;
  border-radius: 0.3rem;
}

@media (max-width: 992px) {
  .project-wrapper {
    margin-top: 30% !important;
    text-align: center;
    display: block;
    align-items: center;
    height: 50vh;
    padding-top: 0 !important;
    padding-bottom: 10% !important;
  }

  .projects-container {
    margin-top: 50% !important;
  }

  .projects-title {
    padding-left: 10px;
  }

  .projects-title h3 {
    font-size: 40px;
  }

  .projects-title h4 {
    font-size: 16px;
  }

  .project-left h3 {
    font-size: 40px;
  }

  project-left h4 {
    font-size: 16px;
  }

  .project-card {
    width: 100%;
  }

  .project-left {
    width: 100%;
    color: white;
    position: relative;
  }

  .project-right {
    width: 100% !important;
    margin-left: 0;
  }
}
