.navtop {
  background-color: rgba(22, 22, 22, 0.8);
  position: fixed !important;
  margin: 0 5%;
  z-index: 99;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  width: 95vw;
}

.navtop-brand a {
  font-family: "Source Serif Pro", serif;
  font-size: 28px !important;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navtop-brand a:hover {
  color: #fff;
}

i#normal {
  font-weight: 500;
}

.navtop-list a {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.active {
  border-bottom: 1px solid #fff;
  text-decoration: none;
  font-weight: 600;
  color: #fff !important;
}

.navtop-list a:hover {
  color: #fff;
}

.toogle-menu {
  display: none;
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: black;
}

.menu {
  display: none;
  position: fixed;
  background: var(--third-color);
  right: 0px;
  left: 0px;
  z-index: 9999999;
  border-radius: 20px;
  margin: 20px;
  outline: solid 2px white;
}

.menu-close {
  display: flex;
  flex-direction: column;
  padding: 28px 24px !important;
}

.menu-list {
  margin: 25px 0 25px 0;
}

.menu-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 20px 0 20px 0;
  transition: 0.3s;
}

.menu-list a.active {
  color: var(--first-color) !important;
  font-style: bold;
  border-bottom: none;
}

.menu-list a:hover {
  font-style: italic;
  color: var(--second-color);
}

@media (max-width: 992px) {
  .navtop {
    margin-top: 4%;
  }

  .navtop-list {
    display: none !important;
  }

  .toogle-menu {
    display: flex;
  }

  .menu {
    display: flex;
  }
}
