.side-vertical {
    display: flex;
    justify-content: space-between;
    height: 550px;
    padding: 14px 20px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.side-title {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: #aeaeae;
}

.side-date {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

.side-number {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

.disabled-color {
    color: #aeaeae;
}

a.arrow {
    color: rgb(255, 255, 255);
}

a.arrow:hover {
    color: rgb(255, 255, 255);
}

.side-title,
.side-date,
.side-number {
    cursor: default;
}

@media (max-width: 992px) {
    .side-vertical {
        display: none !important;
    }
}