@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: #0d0418;
  padding: 0 56px;
}

.font-outline {
  font-family: 'Fira Code', monospace;
  outline: 1px solid white;
}

.font-fira {
  font-family: 'Fira Code', monospace;
}



.rotate-animation {
  animation: rotating 10s infinite;
  transition: ease-in-out;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {

    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 18px;
  }
}